extends layout
block content
h1= title
- let Gun_id = toShow._id
- let Gun_type = toShow.Gun_type
- let Guncost = toShow.cost
- let Gunsize = toShow.size
div
div.row
div(class='GunAttr mr-3') Gun ID is:
div #{Gun_id}
div.row
div(class='GunAttr mr-3') Gun Type is:
div #{Gun_type}
div.row
div(class='GunAttr mr-3') Gun Size is:
div #{Gun_size}
div.row
div(class='GunAttr mr-3') Gun Cost is:
div #{Gun_cost}