extends layout

block content
  h1= title
  - let Gunid = toShow._id
  - let Gun_name = toShow.name
  - let Gun_price = toShow.price
  - let Gun_quantity = toShow.quantity

  div.row(class='mb-2')
    div.mr-1 ID is
    div #{Gunid}
    - let actionid = "/resource/Gun/" + Gunid
    form(id='GunForm', action=actionid, method="PUT")
      div.form-group
        label.GunAttr(for='Gun_name') Gun name
        input#Gun_name(type='text', name='Gun_name', value=Gun_name, required)
      div.form-group
        label.GunAttr(for='Gun_price') Gun price
        input#Gun_price(type='number', name='Gun_price', value=Gun_price, required)
      div.form-group
        label.GunAttr(for='Gun_version') Gun Quantity
        input#Gun_quantity(type='number', name='Gun_version', value=Gun_version, required)
      input(type="submit")
    script.
      document.forms['GunForm'].addEventListener('submit', async (event) => {
        event.preventDefault();

        // Validate Gun_price before submitting the form
        const GunPriceInput = document.getElementById('Gun_price');
        const GunPriceValue = parseFloat(GunPriceInput.value);

        // validation condition, checking if the price is not negative
        if (GunPriceValue < 0) {
          alert("Please enter a valid Gun price greater than or equal to 0");
          return;
        }

        // Validate Gun_name not containing numbers
        const GunNameInput = document.getElementById('Gun_name');
        const GunNameValue = GunNameInput.value;

        if (/\d/.test(GunNameValue)) {
          alert("Gun name should not contain numbers");
          return;
        }

        try {

          const response = await fetch(event.target.action, {
            method: 'PUT',
            body: new URLSearchParams(new FormData(event.target)),
          });

          const body = await response.json();
          alert("Update succeeded");
          // TODO handle body
        } catch (error) {
          // TODO handle error
          alert("Update failed " + error);
        }
      })